.my-work {
    @extend %padded-double;
    background-color: white;

    .container {
        // max-width: $grid_max_width * 0.75;
        max-width: 1600px;
    }

    &__intro {
        text-align: center;

        .section-title {
            margin-bottom: 48px;
            color: $background;
        }
    }

    &__projects {
        display: grid;
        flex-wrap: wrap;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    @include breakpoint(sm) {
        &__intro .section-title {
            margin-bottom: 96px;
        }
        .my-work__projects {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include breakpoint(md) {
        .my-work__projects {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
